:root {
	--bg: #000000;
	--fg: #CCCCCC;
	--on-ac: #888888;
	--ac:#5F0040;
	--ac-similar-bg: var(--on-ac);
}

* {
	margin: 0px;
	font-size:35px;
	font-family: monospace;
}

body {
	color: var(--fg);
	background: var(--bg);
	box-sizing: border-box;
	overflow-y: scroll;
	text-wrap:wrap;
	max-width:1000px;

}

hr {
	border-top: solid 1px var(--fg);
}

body::selection {
  background-color: var(--on-ac);
  color: var(--ac);
}

pre {
	background:red;
	text-wrap:wrap;
}
