@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");

:root {
  --color-primary: hsl(303, 50%, 90%);
  --color-secondary: hsl(303, 50%, 10%);
  --color-tertiary: hsl(3, 80%, 20%);
  --color-accent: hsl(306, 53%, 47%);

  
}
.dark {
  --color-primary: hsl(305, 38%, 24%);
  --color-secondary: hsl(0, 50%, 90%);
  --color-tertiary: hsl(60, 80%, 80%);
  --color-accent: hsl(300, 80%, 80%);
}

/*
  --color-secondary: rgb(30, 11, 29);
  --color-primary: rgb(171, 217, 235);
  --color-secondary: var(--color-secondary);
  --color-accent: rgb(187, 142, 179);
  --color-primary: var(--color-primary);
*/

#noise {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0.025;
  scale: 1.5;

  img {
    width: 100%;
    height: 100%;
  }
}

.fancy-text-effect-two {
  --height: 2vh;
  width: fit-content;
  height: var(--height);
  overflow: hidden;

  .inner {
    height: var(--height);
    transform: translatey(-100%);
    transition: transform 300ms ease-in-out;

    * {
      height: var(--height);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .inner:hover {
    transform: translatey(-0%);
  }
}

body {
  font-family: "IBM Plex Mono", monospace;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-primary);
  margin: 0;
  padding: 0;
  font-size: calc(1.6vh);
  overflow-x: hidden;
  color: var(--color-primary);
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: hidden;

  #journal {
    display: none;
    width: 100vw;
    height: 100vh;
    padding-top: 20px;

    .message {
      padding: 10px;
      box-sizing: border-box;
      width: 100vw;
      height: fit-content;
      border-bottom: solid 3px var(--color-primary);

      .title {
        width: 100%;
        font-size: 50px;
        font-weight: 700;
      }

      .timestamp {
        color: var(--color-accent);
        margin-bottom: 10px;
      }
    }
  }

  #about {
    overflow: hidden;
    width: 100vw;
    height: fit-content;
    display: flex;
    z-index: 1000000;
    background: var(--color-primary);
    color: var(--color-secondary);
    box-sizing: border-box;
    padding: 1em;
    justify-content: space-between;
    -moz-box-sizing: border-box;
    border-radius: 2vw 2vw 0px 0px;

    .half {
      width: 45vw;
      min-height: 100%;
      display: flex;
      align-items: center;
      justify-content: end;
      box-sizing: border-box;
      gap: 2vw;
      -moz-box-sizing: border-box;

      span {
        display: inline-block;
        width: fit-content !important;
      }

      .text {
        font-family: "Roboto Condensed";
        font-weight: 900;
        font-size: 7vw;
        line-height: 6vw;
      }

      .form {
        * {
          font-family: "IBM Plex Mono";
          background-color: var(--color-primary);
          border: none;
          box-shadow: 0px 0px 0px 0.3em var(--color-secondary) inset;
          color: var(--color-secondary);
          outline: none;
          min-width: 100%;
          padding: 0.4em;
          margin: 0px;
          box-sizing: border-box;
          width: 3vw;
          resize: none;
          margin-bottom: 0.7vw;
          font-size: 1em;
        }

        *::placeholder {
          color: var(--color-secondary);
          opacity: 1;
        }

        #form-send:hover {
          font-weight: 900;
        }

        #form-email {
          border-top-right-radius: 1.2em
        }

        #form-body {
          height: 3vw;
          color: var(--color-secondary);
          padding: 0.5vw 1vw;
          box-sizing: border-box;
        }

        #form-send {
          cursor: pointer;
          font-family: "Silkscreen";
          font-size: 0.9em;
          padding: 0.5em;
          border-bottom-right-radius: 1.2em;
        }
      }
    }
  }

  .loader,
  #main {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-secondary);
  }

  .loader {
    box-sizing: border-box;
    position: fixed;
    z-index: 100;
    transition: opacity 0.3s ease;
    color: var(--color-accent);

    .top-out {
      width: 40%;
      height: fit-content;
      max-height: 40%;
      overflow: hidden;

      .com {
        transition: opacity 0.3s ease-out;
        white-space: pre;
      }
    }
  }

  #extra-nav {
    width: 100vw;
    height: 4vh;
    position: fixed;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(10vh);
    transition: transform 1s ease;
    padding: 0px 3vh;
    box-sizing: border-box;

    p {
      font-size: 1.6em;
      color: var(--color-accent);
    }
    .links {
      height:4vh;
      display:flex;
      flex-wrap: nowrap;
      gap:1vh;

      a { 
        height:4vh;
        width:4vh;
        display:flex;
        align-items: center;
        justify-content: center;
        cursor:pointer;

        img { 
          width:2.5vh;
          height:2.5vh;

        }
        
      }
    }
  }

  #mouse-move-cursor-dialog {
    width: fit-content;
    height: fit-content;
    background-color: var(--color-secondary);
    padding: 0px;
    opacity: 0.9;
    border: solid 2px var(--color-primary);
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 10000000;
    opacity: 0;
    transition: opacity 250ms;
    transition-delay: 2s;
  }

  #projects {
    height: 50vh;
    position: absolute;
    right: 0%;
    top: 25%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    padding-left: 3vw;
    font-family: "Silkscreen", sans-serif;
    overflow-y: scroll;
    overflow-x: visible;
    flex-direction: column;
    white-space: nowrap;
    z-index: 100000;

    .title,
    .item {
      width: 100%;
      color: var(--color-accent);
      display: flex;
      align-items: center;
      justify-content: end;
      padding: 0px 3vw;
      box-sizing: border-box;
      min-height: fit-content;
      height: fit-content;

    }

    .title {
      opacity: 0;
      font-size: 1.4em;
      color: var(--color-primary);
      font-weight: 600;
      transition: opacity 0.5s ease;
      cursor: default;
    }

    .item {
      button {
        font-family: "Silkscreen", sans-serif;
        border: unset;
        color: var(--color-primary);
        z-index: 1;
        background: transparent;
        position: relative;
        overflow: hidden;
        /*transition: 250ms;*/
        padding: 0px;
        margin: 0px;
        opacity: 0;
        font-size: 1.25em;
        cursor: pointer;
      }

      button::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 0;
        background-color: var(--color-primary);
        z-index: -1;
        transition: width 250ms;
      }

      button:hover {
        color: var(--color-secondary);
        scale: 1.1;
        transition: scale 0.3s ease-in-out;
      }

      button:hover::before {
        width: 100%;
      }

      button:hover .hover-prefix {
        opacity: 1;
      }

      .hover-prefix {
        opacity: 0;
        transition: opacity 250ms;
      }
    }

    .new {
      button {
        background: var(--color-accent);
      }
    }

    .favorite {
      button {
        background: var(--color-accent);
      }
    }
  }

  .copyright {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0.05;
  }

  .copyright:hover {
    opacity: 0;
  }

  #navbar {
    width: 100vw;
    height: 4vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    padding: 0px 3vh;
    box-sizing: border-box;
    z-index: 98;
    transform: translateY(-10vh);
    transition: transform 1s ease;
    color: var(--color-accent);

    .tp {
      width: 33.3%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .left {
      justify-content: left;
    }

    .right {
      justify-content: right;
    }

    .cent {
      color: var(--color-primary);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Silkscreen", sans-serif;

      .hover-prefix {
        opacity: 0;
      }
    }
  }

  #main {
    overflow: hidden;
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    min-height: 30vh;
    font-weight: 700;
    box-sizing: border-box;

    .text-cont {
      
      .text {
        opacity: 1;
        margin-bottom:1vw;
        font-size: 3vw;
        line-height:2.9vw;
        white-space:pre;
        padding-left: 3vw;
        padding-right:3vw;
        height:fit-content;
        animation: text-glow 10s ease-out  infinite;
        font-family:monospace;
        position:relative;
        overflow:hidden;
        text-shadow:
          0 0 60px var(--color-accent),
          0 0 10px var(--color-primary);
          .effect {
            opacity:0.8;
            position: absolute;
            width:100%;
            pointer-events: none;
            background: repeating-linear-gradient(var(--color-secondary), var(--color-secondary) 1%, #9198e500 1%, #9198e500 1.75%);
            height:100%;
            top:0;
            left:0;
          }
      }
    }

    .lin-inn {
      width: calc(100% - 0.6vw);
      height: 100%;
      position: absolute;
      pointer-events: none;
      top: 0;
      left: 0;
      opacity: 0.1;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;

      .cont-inn {
        width: 90%;
        height: 90%;
        border: solid 0.25vw var(--color-primary);
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;

        .half {
          width: 100%;
          height: 50%;
          display: flex;
          align-items: end;
          justify-content: space-between;
          background-color: transparent;

          .corner-box {
            width: 0.55vw;
            height: 0.55vw;
            background: var(--color-primary);
          }
        }
      }

      .half:first-child {
        align-items: start;
      }
    }
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.blink {
  animation: blink 2s infinite;
}

.animate-item {
  display: inline-flex;
  background: var(--color-secondary);
  white-space:pre;
  font-size:3px;

  .inn {
    transform: translateY(100%) rotate(10deg);
    animation: animate-item 2s ease forwards;
    text-shadow: rgba(255, 255, 255, 0.67) 0px 0px 0px;
    /*-webkit-text-fill-color: transparent;
        background-color: #0d61ff;
        background-image: url(https://media.giphy.com/media/9JxkPTP3alOykb8PmQ/source.gif);
        background-clip: text;
        -webkit-background-clip: text;*/
  }
}

@keyframes animate-item {
  to {
    transform: translateY(0%);
  }
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background: var(--color-primary);
  color: var(--color-secondary);
}

* {
  scrollbar-width: none;
}

.active-text-item {
  width: fit-content;
  display: inline-block;
  overflow-y: hidden;
  margin-left: 2vw;

  .inner-active-text-item {
    text-wrap: nowrap;
    opacity: 1;
    transform: rotate(2deg) translateY(2vw);
  }
}

@keyframes hand-shake {
  20% {
    transform: rotate(20deg) scale(1.2);
  }

  40% {
    transform: rotate(-20deg) scale(1.2);
  }

  60% {
    transform: rotate(20deg) scale(1.2);
  }

  80% {
    transform: rotate(-20deg) scale(1.2);
  }

  100% {
    transform: rotate(0deg) scale(1);
  }
}

@keyframes text-ani {
  to {
    opacity: 1;
    transform: rotate(0deg) translateY(0px);
  }
}

@media screen and (orientation: portrait) {
  .loader {
    .top-out {
      width: 100% !important;
    }
  }

  #projects {
    width: 100% !important;
    top: unset !important;
    height: fit-content !important;
    bottom: 5vh !important;
    display: unset !important;

    .item,
    .title {
      justify-content: start !important;
      padding: 0px 3vw !important;

      button::before {
        right: unset !important;
        left: 0 !important;
      }
    }
  }

  #main {
    .text-cont {
      .text {
        margin-left: 3vw !important;
      }
    }
  }

  #about {
    display: block !important;

    .half {
      width: 100% !important;
      justify-content: space-between !important;

      * {
        border-top-right-radius: 0px !important;
        margin-top: 1vh;

        * {
          width: 20vw !important;
          height: 3vh !important;
        }
      }
    }
  }
}

#effect {
  height: 100vh;
  width: 100vw;
  position: fixed;
  box-sizing: border-box;
  z-index: 10000000000000000000000000000000;
  top: 0;
  left: 0;

  .line {
    width: 100%;
    height: fit-content;
    width: fit-content;
    display: flex;

    transition: all 400ms ease-in-out;

    .unit {
      background-color: var(--color-primary);
      transition: all 400ms ease-in-out;
    }
  }
}



@keyframes text-glow {
  0% { 

    text-shadow:
    0 0 60px var(--color-accent),
    0 0 10px var(--color-primary);
  }
  50% { 

    text-shadow:
    0 0 0px var(--color-accent),
    0 0 5px var(--color-primary);
  }
  100% { 
    text-shadow:
    0 0 60px var(--color-accent),
    0 0 10px var(--color-primary);
  }

}