@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background: black;
    --text-color: white;
    --foreground: rgb(8, 8, 8);
    --text-disabled: grey;
}



#noise {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0.05;

    img {
        width: 100%;
        height: 100%;

    }

}

body {
    font-family: 'IBM Plex Mono', monospace;
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    color: var(--text-color);
    -ms-overflow-style: none;
    scrollbar-width: none;

    .loader,
    #main {
        width: 100vw;
        height: 100vh;
        background-color: black;
    }

    .loader {
        padding: 20px;
        box-sizing: border-box;
        position: fixed;
        z-index: 100;
        transition: all 0.3s ease;

        .top-out {
            width: 40%;
            height: fit-content;
            max-height: 40%;
            overflow: hidden;

            .com {
                transition: opacity 0.3s ease-out;
                white-space: pre;
            }
        }
    }

    #extra-nav {
        width: 100vw;
        height: 30px;
        position: fixed;
        bottom: 0%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transform: translateY(60px);
        transition: all 1s ease;

        p {
            --margin: 10px;
            margin-left: var(--margin);
            margin-right: var(--margin);
        }
    }

    .page {
        width: 100vw;
        height: 100vh;
    }

    #main-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--foreground);

        .inner {
            width: 90%;
            height: 100%;
            background-color: red;
        }
    }

    #navbar {
        width: 100vw;
        height: 30px;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        padding: 0px 20px;
        box-sizing: border-box;
        z-index: 98;
        transform: translateY(-60px);
        transition: all 1s ease;
        color: var(--text-disabled);

        .tp {
            width: 33.3%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .left {
            justify-content: left;

        }

        .right {
            justify-content: right;


        }

        .cent {
            color: var(--text-color)
        }

    }

    #main {
        overflow: hidden;
        display: flex;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        min-height: 30vh;
        font-weight: 700;
        box-sizing: border-box;

        .text-cont {
            overflow: hidden;

            .text {
                line-height: 17vw;
                opacity: 0;
                font-size: 17vw;
                overflow: hidden;
            }
        }

        #line {

            transition: all 1s ease;
        }

        .lin-inn {

            width: calc(100% - 6px);
            height: 100%;
            position: absolute;
            pointer-events: none;
            top: 0;
            left: 0;
            opacity: 0.1;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;


            .cont-inn {
                width: 90%;
                height: 90%;
                border: inset 3px white;
                display: flex;
                flex-wrap: wrap;

                .half {
                    width: 100%;
                    height: 50%;
                    display: flex;
                    align-items: end;
                    justify-content: space-between;

                    .corner-box {
                        width: 10px;
                        height: 10px;
                        background: white;
                    }


                }
            }

            .half:first-child {
                align-items: start;
            }
        }

    }
}


@keyframes blink {
    0% {
        color: var(--text-color)
    }

    50% {
        color: transparent;
    }

    100% {
        color: var(--text-color);
    }
}

.blink {
    animation: blink 2s infinite;
}

.animate-item {

    display: inline-flex;
    background: var(--background);
    overflow: hidden;


    .inn {
        transform: translateY(100%);
        animation: animate-item 2s ease forwards;
        /*-webkit-text-fill-color: transparent;
        background-color: #0d61ff;
        background-image: url(https://media.giphy.com/media/9JxkPTP3alOykb8PmQ/source.gif);
        background-clip: text;
        -webkit-background-clip: text;*/
    }

}

#cursor {
    width: 20px;
    height: 20px;
    position: fixed;
    border-radius: 100%;
    z-index: 99;
    pointer-events: none;
    backdrop-filter: invert(100%);
    transition: all 0s ease-in-out;


}

#scrollbar {
    background: transparent;
    position: fixed;
    top: 0%;
    right: 0%;
    width: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 2px;
    transform: translateX(12px);
    transition: all 1s ease;
    z-index: 97;

    .scrollbar-inn {
        width: 100%;
        height: 60%;
        background: var(--foreground);
        border-radius: 100px;
        overflow: hidden;


        .scrollbar {
            width: 100%;
            height: 40px;
            background: var(--text-disabled);
            border-radius: 100px;
        }
    }
}

@keyframes animate-item {
    to {
        transform: translateY(0%)
    }
}

::-webkit-scrollbar {
    display: none;
}


::selection {
    background: white;
    color: black;
}

* {
    scrollbar-width: none;
}


.active-text-item {
    width: fit-content;
    display: inline-block;
    overflow: hidden;
    margin-left: 5px;

    .inner-active-text-item {
        text-wrap: nowrap;
        opacity: 0;
        transform: rotate(2deg) translateY(10px);
    }
}

@keyframes text-ani {
    to {
        opacity: 1;

        transform: rotate(0deg) translateY(0px);
    }
}


@media screen and (max-width:500px) {
    #main {
        align-items: end !important;
        padding-bottom: 35px !important;
    }

    .loader {
        .top-out {
            width: 100% !important;
        }
    }
}